In [1]:
#Import packages
import pandas as pd

In [2]:
#global values

#COE file path
COE_fp="Relevant_datasets/M11-coe_results.csv"

#consumer price index file path
CPI_fp='Relevant_datasets/CPI.csv'

#Export output fp
COE_op='Relevant_datasets/COE_processed.csv'

In [3]:
#Import COE
COE=pd.read_csv(COE_fp)

#Import CPI
CPI=pd.read_csv(CPI_fp,header=8,usecols=['Data Series','All Items (Index)'])

In [4]:
#Clean CPI dataset

#rename columns
CPI.rename(columns={'All Items (Index)':'Index','Data Series':'Year_Quarter'},inplace=True)

#convert year Qtr column to string and remove white spaces
CPI.Year_Quarter.astype('str')
CPI['Year_Quarter'] = CPI.apply(lambda x: x.Year_Quarter.strip(),axis=1)

In [5]:
##Since 2024 Q2 data is not available, i decided to do a projected value

#Get Index value of each quarter
I_Q1_2024=CPI['Index'].loc[CPI['Year_Quarter']=='2024 1Q'].values[0]
I_Q4_2023=CPI['Index'].loc[CPI['Year_Quarter']=='2023 4Q'].values[0]
I_Q3_2023=CPI['Index'].loc[CPI['Year_Quarter']=='2023 3Q'].values[0]
I_Q2_2023=CPI['Index'].loc[CPI['Year_Quarter']=='2023 2Q'].values[0]

#Get each Qtr's % change from prev Quarter
Q1_2024=(I_Q1_2024-I_Q4_2023)/I_Q4_2023
Q4_2023=(I_Q4_2023-I_Q3_2023)/I_Q3_2023
Q3_2023=(I_Q3_2023-I_Q2_2023)/I_Q2_2023
print("sanity check Q1_2024 % change:",Q1_2024)
#Get average % change
AVG_Delta=(Q4_2023+Q1_2024+Q3_2023)/3
print("sanity check AVG_Delta:",AVG_Delta)
#Get projected index value for 2024 Q2
Proj_Val=I_Q1_2024*(1+AVG_Delta)
#Create a new row and append to dataset
new_row = pd.DataFrame({'Index':[int(Proj_Val)],'Year_Quarter':['2024 2Q']})
CPI = CPI.append(new_row, ignore_index=True)

sanity check Q1_2024 % change: 0.0017376194613379918
sanity check AVG_Delta: 0.006448145473993555

In [6]:
#Normalize using 2024Q2 as index base
index_base=CPI['Index'].loc[CPI['Year_Quarter']=='2024 2Q'].values[0]
#divide every year's index base by 2024Q2's index base, multiply by 100
CPI['Index_2024Q2']=(CPI['Index']/index_base)*100

#drop old index and rename the new index_2024Q2
CPI.drop(columns='Index',inplace=True)
CPI.rename(columns={'Index_2024Q2':'Index'},inplace=True)

In [7]:
##Parse Year and Quarter from "month" and create a Yr_Qtr column for easy merging
COE['month'] = pd.to_datetime(COE['month'])
COE['Year'] = COE['month'].dt.year
COE['Quarter'] = COE['month'].dt.quarter

COE['Year_Quarter']=COE.apply(lambda x: str(x['Year'])+" "+str(x['Quarter'])+str("Q") ,axis=1)

#Groupby Yr_Qtr,vehicle_class and average by premium (reset index because of row merging issue during groupby)
COE_grpby=COE.groupby(by=['vehicle_class','Year_Quarter',]).mean('premium').reset_index()

#keep only Yr_Qtr,vehicle_class,premium
COE_grpby=COE_grpby[['Year_Quarter','premium','vehicle_class','bids_success']]


#Consumer vehicles COE tend to be Vehicle classes A,B and D
COE_grpby=COE_grpby.loc[(COE_grpby['vehicle_class']=='Category A')|(COE_grpby['vehicle_class']=='Category B')|(COE_grpby['vehicle_class']=='Category D')]

In [8]:
#To calculate the preimum for the quarter, to give the mean of premium,
#weighted by the proportion of bid_success for each vehivle class

#Create a df of total bid success(tbs) by Yr_Qtr
COE_tbs=COE_grpby.groupby(['Year_Quarter']).sum('bids_success')
COE_tbs=COE_tbs['bids_success']

#merge to COE_grp_by
COE_grpby=COE_grpby.merge(COE_tbs,on='Year_Quarter',how='left')

#divide by bids success in COE_grp by to get weight for each Yr_Qtr
COE_grpby['weight']=COE_grpby['bids_success_x']/COE_grpby['bids_success_y']

#multiply by premium and groupby.sum(premium)
COE_grpby['premium_wt']=COE_grpby['weight']*COE_grpby['premium']
COE_processed=COE_grpby.groupby(['Year_Quarter']).sum().reset_index()

#keep only Yr_Qtr and premium_wt
COE_processed=COE_processed[['Year_Quarter','premium_wt']]

In [9]:
#visual check
COE_processed.head()

  Year_Quarter    premium_wt
0      2010 1Q  19189.190792
1      2010 2Q  27263.581898
2      2010 3Q  28267.604568
3      2010 4Q  34662.570729
4      2011 1Q  37754.461506

In [10]:
#Calculate real COE price (accounted for inflation using CPI)
COE_processed=COE_processed.merge(CPI,on='Year_Quarter',how='left')

#Generate real COE price= premium_wt*100/Index
COE_processed['Real_Premium']=COE_processed['premium_wt']*100/COE_processed['Index']

In [11]:
COE_processed

   Year_Quarter    premium_wt       Index  Real_Premium
0       2010 1Q  19189.190792   74.051724  25913.226215
1       2010 2Q  27263.581898   75.000000  36351.442531
2       2010 3Q  28267.604568   75.862069  37261.842386
3       2010 4Q  34662.570729   76.551724  45279.934735
4       2011 1Q  37754.461506   77.931034  48445.990428
5       2011 2Q  39501.234054   78.534483  50297.948960
6       2011 3Q  42156.019460   80.000000  52695.024325
7       2011 4Q  43032.217265   80.775862  53273.609421
8       2012 1Q  43401.477562   81.724138  53107.293219
9       2012 2Q  49793.597493   82.672414  60230.003224
10      2012 3Q  49888.073155   83.362069  59845.051562
11      2012 4Q  51894.517672   83.965517  61804.559035
12      2013 1Q  48838.104256   85.000000  57456.593242
13      2013 2Q  38166.198289   83.965517  45454.609871
14      2013 3Q  46206.226664   84.913793  54415.454751
15      2013 4Q  48800.170546   85.689655  56949.897216
16      2014 1Q  50708.513370   85.862069  59058.107941
17      2014 2Q  50703.408947   85.775862  59111.511938
18      2014 3Q  51762.801025   85.775862  60346.582099
19      2014 4Q  55692.864848   85.603448  65059.137184
20      2015 1Q  56602.788355   85.603448  66122.089115
21      2015 2Q  61929.662846   85.431034  72490.826338
22      2015 3Q  52595.957859   85.258621  61689.900017
23      2015 4Q  51634.571921   85.000000  60746.555201
24      2016 1Q  42488.297794   84.827586  50087.830733
25      2016 2Q  46113.737600   84.655172  54472.439527
26      2016 3Q  49296.642885   84.913793  58054.929692
27      2016 4Q  46744.580156   85.000000  54993.623714
28      2017 1Q  46661.921904   85.344828  54674.575161
29      2017 2Q  45222.967499   85.258621  53042.105459
30      2017 3Q  40380.466783   85.258621  47362.327066
31      2017 4Q  41399.194922   85.431034  48459.198899
32      2018 1Q  34955.089858   85.603448  40833.740418
33      2018 2Q  32428.246816   85.603448  37881.939886
34      2018 3Q  25861.608602   85.862069  30119.945761
35      2018 4Q  22017.036886   85.862069  25642.332116
36      2019 1Q  23670.178459   86.034483  27512.431876
37      2019 2Q  27806.273747   86.206897  32255.277546
38      2019 3Q  26153.865582   86.206897  30338.484075
39      2019 4Q  27647.703347   86.379310  32007.321240
40      2020 1Q  26355.548561   86.293103  30541.894436
41      2020 3Q  30134.189913   85.948276  35060.842828
42      2020 4Q  33611.408028   86.293103  38950.283030
43      2021 1Q  36567.273292   86.982759  42039.679900
44      2021 2Q  41096.542937   87.586207  46921.249810
45      2021 3Q  42760.866832   88.103448  48534.839066
46      2021 4Q  52545.646154   89.482759  58721.531347
47      2022 1Q  58363.701056   90.948276  64172.410640
48      2022 2Q  60841.838054   92.758621  65591.572623
49      2022 3Q  67149.098960   94.568966  71005.428253
50      2022 4Q  68261.184677   95.431034  71529.335343
51      2023 1Q  68812.533102   96.551724  71270.123570
52      2023 2Q  73805.900117   97.500000  75698.359094
53      2023 3Q  79270.852793   98.448276  80520.305814
54      2023 4Q  82791.994593   99.224138  83439.369007
55      2024 1Q  67257.761398   99.396552  67666.091259
56      2024 2Q  75098.294677  100.000000  75098.294677

In [12]:
#export 
COE_processed.to_csv(COE_op)